#aboutrow {
  flex-direction: row;
  width:  100%;
  padding: 2% 7% 0% 7%;
}

#boxesrow{
  flex-direction:  row;
  width: 100%;
  height: 50%;
  padding: 2% 8.5% 0% 8%;
  overflow: auto;
  white-space: nowrap;
}

.aboutmecontent{
  width:60%;
  float: left;
  font-size:16px;
  height: 600px; /*same as aboutmepic */
  display: inline;
  font-family: 'Inter';
  margin-left:  15px;
  line-height:  25px;
}

.aboutmecontent h3{
  font-size:19px;
  font-family: 'Karla';
  font-weight: 300;
  margin-top: -5px;
  line-height:  25px;
  margin-left:  20px;
}

.marquee {
  padding: 1% 0% 0% 3%;
  line-height:  15px;
  font-size:  13px;
}

.marquee .inner {
  position: relative;
  width: 100%;
  display: flex;
}

.marquee .inner h2{
  font-size:14px;
  font-family: 'Karla';
  font-weight: 300;
}

.marquee .inner > * {
  white-space: nowrap;
}

.aboutmepic{
  width:30%;
  height: 600px;
  float: right;
  display: inline;
  margin-right: 20px;
  font-size:20px;
  font-family: 'Ogg';
  transition:800ms ease all;
}

.aboutmepic img{
  border: 4px double black;
  border-radius: 51% 49% 0% 0% / 67% 67% 10% 10% ;
}

/* Clear floats after the columns */
.aboutrow:after {
  content: "";
  display: table;
  clear: both;
}

.column-left{
  float: left;
  width: 28%;
  height: 80%;
  border-radius:  20px;
  font-size: 14px;
  padding: 3%;
  border:  1px solid black;
  white-space: initial;
  transition:800ms ease all;
}

.column-left:hover{
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 36px 4px #D9D9D9; 
  box-shadow: 0px 0px 36px 4px #D9D9D9;
  transition:800ms ease all;
}

.column-center{
  height:  80%;
  border:  1px solid black;
  display: inline-block;
  width: 28%;
  margin-left: 8%;
  border-radius:  20px;
  padding: 3%;
  font-size: 14px;
  white-space: initial;
  transition:800ms ease all;
}

.column-center:hover{
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 36px 4px #D9D9D9; 
  box-shadow: 0px 0px 36px 4px #D9D9D9;
  transition:800ms ease all;
}

.column-right{
  height: 80%;
  border:  1px solid black;
  float: right;
  width: 28%;
  border-radius:  20px;
  padding:  3%;
  font-size: 14px;
  white-space: initial;

  transition:800ms ease all;
}

.column-right:hover{
  transform: scale(1.1);
    transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 36px 4px #D9D9D9; 
  box-shadow: 0px 0px 36px 4px #D9D9D9;
  transition:800ms ease all;
}

@font-face {
  font-family: 'Ogg';
  src: url("./fonts/Ogg.ttf") format("truetype");
}

/* footer */

#footer_outer{
  margin-top: 50px;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 50px;
}

.footer_left{
  margin-top: 30px;
  padding-top: 10px;
  width: 40%;
  Float: left;
  display:inline;
  height: 150px;
}

.footer_about{
  width: 60%;
  float: right;
  display:inline;
  font-size:15px;
  line-height:18px;
  font-weight:400;
  margin-bottom: 50px;
  margin-top: 10px;
  padding-top: 10px;
  height:auto;
}

#creds{
  text-align: center;
  display:block;
  margin-top:10%;
  line-height:5px;
}

#links{
  text-align: right;
  margin-top:20%;
  line-height:5px;
}

#links a{
  font-family: "Ogg";
  color: black;
  font-size: 15px;
  font-weight: 400;
  display:inline;
  text-align:right;
}

@media screen and (max-width: 500px){ /* iphone size */
  
  h2{ /*currently headline */
    font-size: 14px;
  }

  #aboutrow {
    display: block;
    flex-direction: column;
    width:  100%;
    padding: 2% 7% 0% 2%;
  }

  .aboutmecontent{
    display: block;
    flex-direction: column;
    font-size: 13px;
    line-height: 17px;
    margin-top: 70%;
    padding-top: 17%;
    width: 80%;
    margin-left: 13%;
    height: 66%;

  }

    .aboutmepic{
    display: block;
    flex-direction: column;
    margin-top: -228%;
    font-size: 12px;
    width: 50%;
    margin-right: 22%;
    height: 33%;
  }


  .marquee {
    padding: 1% 0% 0% 1%;
  }

  .marquee .inner {
    position: relative;
    width: 100%;
    display: flex;
  }

  .marquee .inner h2{
    font-size:10px;
    font-family: 'Karla';
    font-weight: 300;
  }

  .marquee .inner > * {
    white-space: nowrap;
  }

  #boxesrow{
    display: block;
    flex-direction:  column;
    width: 100%;
    height: auto;
    padding: 2% 8.5% 0% 8%;
    overflow: auto;
    white-space: nowrap;
  }
    .column-left{
      font-size: 11px;
      float:  none;
      width: 80%;
      height: auto;
      margin-left: 10%;
      padding:  13% 13% 13% 13%;
      margin-bottom: 10%;
    }

    .column-center{
      font-size: 11px;
      float:  none;
      width: 80%;
      height: auto;
      margin-left: 10%;
      padding:  13% 13% 13% 13%;
      margin-bottom: 10%;
    }

  .column-right{
      font-size: 11px;
      float:  none;
      width: 80%;
      height: auto;
      margin-left: 10%;
      padding:  13% 13% 13% 13%;
      margin-bottom: 10%;
  }

  #links{
    margin-top:67%;
    line-height:5px;
    width:  100%;
    flex-direction:  row;
  }

  #links a{
    display:inline-block;
    width:  100%;
    padding: 2%;
  }
}




