::-webkit-scrollbar-thumb:vertical {
  background-color:#eee;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

::-webkit-scrollbar {
  width:7px;
  height:5px;
  background-image:linear-gradient(120deg, #FFE2B7 0%, #FCDFFF 100%);;
}

@font-face {
  font-family: "Ogg";
  src: url(./fonts/Ogg.ttf) format("truetype");
}

body {
  background-image: url(../images/background.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-width: 100% auto;
  background-color: #FFFBFF;
  /*margin: auto;
  width: 80%;
  max-width: 1125px;
  min-width: 300px;*/
  color: #161616;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  cursor: url(http://i.imgur.com/2qleX.jpg), auto;
}

a{
  font-weight: 500;
  text-decoration: underline;
  color: #BF8CFF;
  cursor: url(http://i.imgur.com/2qleX.jpg), auto;
  transition:800ms ease all;
}

a:hover{
  color:  #9FC6FF;
  cursor: url(http://i.imgur.com/IepP2.jpg), auto;
  transition:800ms ease all;
}

#header {
  width:100%; 
  display: flex;
  justify-content: space-between;
  padding: 3% 10% 3% 10%;
}

.logo a{
  padding-top: 2%;
  font-family: "Ogg";
  color: black;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
}

h1{
  font-family: 'Ogg';
  color: black;
  font-size: 30px;
  font-weight: 400;
  line-height: 15px;
  cursor: url(http://i.imgur.com/2qleX.jpg), auto;
}

h2{
  font-family: "Ogg";
  color: black;
  font-size: 25px;
  font-weight: 400;
  display:inline;
  line-height: 15px;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

h4{
  font-family: 'Ogg';
  color: black;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
}

h5{
  font-family: 'Ogg';
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.hoverline {
  background-image: linear-gradient(120deg, #FFE2B7 0%, #FCDFFF 100%);
  background-repeat: no-repeat;
  background-size: 100% 0px;
  background-position: 0 57%;
  left: -2.5px;
  transition: background-size 0.25s ease-in;
}

.hoverline:hover {
  background-size: 100% 15px;
  background-position: 0 57%;
}

mark {
  --color1: #E9F4E8;
  --color2: #9FC6FF;
  --bg-height: 20%;
  all: unset;
  background-image: linear-gradient(var(--color1), var(--color2));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--bg-height);
  animation: highlight 800ms 1 ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes highlight {
  to {
    background-size: 100% var(--bg-height);
  }
}

nav{
  background: transparent;
  width: 100%;
  text-align:center;
}

nav li{
    display:inline-block;
}

nav li a{
    color: #343434;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 1s;
    background-image: linear-gradient(120deg, #9FC6FF 0%, #E9F4E8 100%);
    background-repeat: no-repeat;
    background-size: 100% 0px;
    background-position: 0 90%;
    transition: background-size 1s ease-in;
}

nav li a:hover{
  transition: 1s;
  background-size: 100% 5px;
  background-position: 0 57%;
}

.resume_btn{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 25px;
  border: 1px solid #343434;
  background: #343434;
  width: 147px;
  height: 44px;
  transition:800ms ease all;
}


.resume_btn a{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  transition:800ms ease all;
}

.resume_btn:hover{
  border: 1px solid #343434;
  background: transparent;
  color:#343434;
  transition:800ms ease all;
}

.resume_btn a:hover{
  color:#343434;
  text-decoration: none;
  transition:800ms ease all;
}

.btn{
  left:0px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 25px;
  border: 1px solid #343434;
  background: #343434;
  position:relative;
  width: 147px;
  height: 44px;
  transition:800ms ease all;
}

.btn a{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  transition:800ms ease all;
}

.btn:hover{
  border: 1px solid #343434;
  background: transparent;
  color:#343434;
  transition:800ms ease all;
}

.btn a:hover{
  color:#343434;
  text-decoration: none;
  transition:800ms ease all;
}

#bioNlinks {
  width: 100%;
  padding: 2% 12% 0% 14%;
  align-items: center;
  display: inline-flex;
  /*margin: auto;
  justify-content: space-around;
  */
}

.bioBox {
  width: 60%;
  line-height:24px;
  height: auto;
  flex-grow: 1;
}

.linkBox {
  width: 25%;
  height: 100px;
  text-align: left;
  margin-top:-18%;
  padding-left: 5%;
}

.links{
  font-family: "Ogg";
  color: black;
  font-size: 14px;
  font-weight: 400;
  display:block;
  text-align:left;
}

.links a{
  color: black;
}


#row {
  flex-direction: row;
}

hr{
  display: inline-grid;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  width:30%;
  padding: 2px;
}

#featured {
  padding: 0% 13% 0% 10%;
}

.project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 000px;
  height: 470px;
  max-width: 100%;
  min-width: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}

.project-2column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 000px;
  height: 440px;
  max-width: 50%;
  min-width: 50%;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}

.column-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.description {
  margin-top: 0%;
  margin-left: 3.5vw;
}

.titles_project{
  font-family: "Ogg";
  color: black;
  font-size: 50px;
  font-weight: 400;
  text-align:left;
  float: left;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.titles_project-2column{
  font-family: "Ogg";
  color: black;
  border-bottom:  1px solid black;
  font-size: 50px;
  font-weight: 400;
  text-align:left;
  float: left;
  margin-top: 2px;
}

.category{
  border-bottom: 1px solid black;
  font-family: 'Poppins', sans-serif;
  color:#797979;
  text-align: left;
  margin-left: 120px;
  margin-top: 20px;
  width: 130%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.category-2column{
  font-family: 'Poppins', sans-serif;
  color:#797979;
  text-align: left;
  width: auto;
  display: inline-grid;
  padding-top: 20px;
}


.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sfroutes-category{
  border-bottom: 1px solid black;
  font-family: 'Poppins', sans-serif;
  color:#797979;
  text-align: left;
  margin-left: 260px;
  margin-top: 20px;
  width: 105%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.details {
  width: 480px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
}

.featuredpost img {
  max-height: 400px;
  margin-left: 7vw;
  margin-top: 2vw;
  transition:800ms ease all;
}

.sffeaturedpost img {
  max-height: 400px;
  margin-left: 7vw;
  margin-top: 2vw;
  transition:800ms ease all;
}

.featuredpost img: hover{
  margin-top: 6vw;
  transition:800ms ease all;
}

.featuredpostrow img {
  max-height: 270px;
  margin-top: 2vw;
  transition:800ms ease all;
}

.featuredpostrow: hover{
  margin-top: 16vw;
  transition:800ms ease all;
}

.tags {
  font-family: 'Space Mono', monospace;
  color:#797979;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.tag {
  font-family: 'Space Mono', monospace;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  width: auto;
}


.btn-protect{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 20px;
  position:relative;
  width: 170px;
  height: auto;
  border: 1px solid #343434;
  background: white;
  color:#343434;
  margin-top:  20px;
  padding: 10px;
  font-size:  12px;
  transition:800ms ease all;
  cursor: no-drop;
}

.btn-reg{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 20px;
  position:relative;
  width: 170px;
  height: auto;
  border: 1px solid #343434;
  background: transparent;
  color:#343434;
  margin-top:  20px;
  padding: 10px;
  font-size:  12px;
  transition:800ms ease all;
  cursor: no-drop;
}

.btn-reg a{
  color:#343434;
  text-decoration: none;
  transition:800ms ease all;
}

.btn-reg:hover{
  border: 1px solid #343434;
  background: #343434;
  text-color:#fff;
  transition:800ms ease all;
}

.btn-reg a:hover{
  color:#fff;
  text-decoration: none;
  transition:800ms ease all;
}


/* footer */

#footer_outer{
  margin-top: 750px;
  width: 100%;
  border-top: 1px solid black;
  padding: 5% 13% 0% 13%;
}

.footerwelcome{
  display: inline;
  font-family: "Ogg";
  font-size: 35px;
  line-height:30px;
}

.footer_left{
  margin-top: 30px;
  padding-top: 10px;
  width: 40%;
  Float: left;
  display:inline;
  height: 150px;
}

.footer_about{
  width: 60%;
  float: right;
  display:inline;
  font-size:15px;
  line-height:18px;
  font-weight:400;
  margin-bottom: 50px;
  margin-top: 10px;
  padding-top: 10px;
  height:auto;
}

#creds{
  text-align: center;
  display:block;
  margin-top:220px;
  line-height:5px;
  padding-bottom: 80px;
}


#links{
  text-align: right;
  margin-top:20%;
  line-height:5px;
}

#links a{
  font-family: "Ogg";
  color: black;
  font-size: 15px;
  font-weight: 400;
  display:inline;
  text-align:right;
}

/* sizing layouting */
@media screen and (min-width:  1920px){
  .featured {
    margin-right: 260px;
    margin-left: 260px;
  }

  .project {
    width: auto;
    height: 680px;
  }
  .details {
    width: 70%;
  }
  /*
  .featuredpostimg {
    max-width: 100%;
    max-height: 100%;
    margin-left: 0vw;
  } */
  .detailtag {
    width: 130px;
  }
  .detailtag.ux {
    width: 20%;
  }
  .detailtag.ui {
    width: 18%;
  }
}

@media screen and (min-width:  1440px){
  .featured{
    margin-right:  100px;
    margin-left:  100px;
  }
  .detailtag {
    width: 130px;
  }
  .featuredpostimg {
    margin-left: -1vw;
  }
  .detailtag.animations {
    width: 32%;
  }

}


@media screen and (min-width:  1280px){
   .project {
    margin-bottom: 0px;
  }

  .featuredpostimg {
    max-width: 100%;
    max-height: 100%;
    margin-left: 1vw;
  }

   .projectlink {
    margin-bottom: 60px;
    text-decoration: none;
  }

  .tags {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .tag {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
  }
  .detailtag {
    width: 128px;
    margin-right: 40px;
  }
  .detailtag.case {
    width: 80px;
  }
  .detailtag.ui {
    width: 140px;
  }
}

@media screen and (max-width: 991px){
.project {
    height: auto;
    max-height: 100%;
    min-height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .column-32 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .description {
    margin-left: 15vw;
    margin-top:  5vw;
  }

  .details {
    width: 480px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 0px;
    font-size: 12px;
  }

  .column-34 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height:  100px;
    margin-top: 10px;
  }

  .tags {
    display: none;
  }

}

@media screen and (max-width:  767px){
  .project {
    height: auto;
  }
  .description {
    margin-top: 10%;
  }
  .details {
    width: auto;
    font-size: 12px;
    line-height: 15px;
  }
  .featuredpostimg {
    max-width: 100%;
    max-height: 100%;
    margin-left: 1vw;
  }
}

@media screen and (max-width: 500px){

  .logo a{
    padding-bottom: 5%;
    font-size: 20px;
  }

  .resume_btn{
    width: 107px;
    height: 34px;
  }

  .resume_btn a{
    font-size: 11px;
  }

  #bioNlinks{
    padding: 4% 10% 0% 10%;
    display: block;
  }

  .bioBox {
    width: 100%;
    line-height:24px;
    flex-grow: 1;
    font-size: 13px;
    line-height: 19px;
  }

  .linkBox {
    width: 100%;
    margin-top: 1%;
    height: 5%;
    padding-left: 0%;
  }

  .links{
    font-size: 12px;
    padding-right: 5%;
    display:inline-flex;
    text-align: center;
    justify-content: space-between;
  }

  h4{ /* typinig title */
    font-size: 19px;
  }

  h5{ /*currently headline */
    font-size: 14px;
  }

  #featured {
    padding: 0% 10% 0% 10%;
    width: 100%;
  }

  .description {
    margin-left: 0%;
  }

  .details {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    padding-top: 3%;
  }

  .tags {
    font-size: 13px;
  }

  .btn-protect{
    width: 147px;
    height: 36px;
    font-size:  11px;
    margin-top: 30%;
    margin-left: 60%;
  }

  .titles_project{
    font-size: 30px;
  }

  .category{
    font-size: 15px;
    margin-left: 22%;
    margin-top: 2%;
    width: 80%;
  }

  .featuredpost img {
    max-height: 200px;
    margin-left: -40%;
    margin-top: -90%;
    z-index:  0.2;
  }

  .sffeaturedpost img {
    max-height: 180px;
    margin-left: 35%;
    margin-top: -50%;
    transition:800ms ease all;
  }

  .btn-reg{
    width: 137px;
    height: 37px;
    font-size:  11px;
  }

  .sfroutes-category{
    font-size: 15px;
    margin-left: 0%;
    margin-top:14%;
    width: 100%;
  }

  .category-2column{
    font-size:  15px;
    padding-top: 2%;
    margin-left: 0%;
    margin-top:0%;
    width: 100%;
    border-bottom:  1px solid black;
    }

  #row {
    flex-direction: column;
  }

  .column {
    float: left;
    width: 100%;
  }

  .titles_project-2column{
    font-size: 20px;
    margin-top: 2px;
    border: none;
  }

  .featuredpostrow img {
    max-width: 100%;
  }


  #footer_outer{
    margin-top:260%;
    width: 100%;
    border-top: 1px solid black;
    padding: 5% 5% 0% 5%;
    display: block;
    flex-direction:  column;
  }

  .footerwelcome{
    display: inline;
    font-family: "Ogg";
    font-size: 15px;
    line-height:20px;
  }

  .footer_left{
    margin-top: 4%;
    padding-top: 2%;
    height: 150px;
    display: block;
    width: 50%;
    flex-direction:  column;
  }

  .footer_about{
    font-size:11px;
    line-height: 13px;
    padding-top: 0%;
    display: block;
    flex-direction:  column;
    width: 50%;
  }

    #creds{
    text-align: center;
    display:block;
    margin-top:10%;
    line-height:5px;
    padding-bottom: 30px;
  }

  #links{
    margin-top:37%;
    line-height:5px;
    width:  100%;
    flex-direction:  row;
  }

  #links a{
    display:inline-block;
    width:  100%;
    padding: 0.9%;
    font-size: 13px;
    line-height: -3px;
  }
  h3{/* personally designed */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }

}
